<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启注解扫描-->
    <context:component-scan base-package="com.ling"></context:component-scan>

    <!--2. 配置视图解析器对象
        当控制器中的方法返回字符串时，通过视图解析器查找返回需要跳转的页面
    -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--jsp文件所在的位置-->
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <!-- jsp文件的后缀名-->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--配置前端控制器，哪些静态资源不拦截-->
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>



    <!--配置异常处理器-->
    <bean id="sysException" class="com.ling.exception.SysExceptionResolver"></bean>

    <!-- 开启SpringMVC框架注解的支持 -->
    <mvc:annotation-driven ></mvc:annotation-driven>
</beans>